{% extends "base.html" %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}HongOS{%endblock%}</title>
</head>

<body>

    {% block content %}

    <style>
        div {
            text-align: center;
            margin: 0 auto;
        }

        #messages {
            width: 40%;
            margin-top: 1%;
        }

        .closebtn {
            float: right;
            cursor: pointer;
            transition: 0.3s;
        }

        * {
            box-sizing: border-box;
        }

        #texto_hongos {
            text-align: left;
        }
    </style>


    {%for message in messages%}
    <div id='messages' class="alert alert-warning" role="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> {{message}}
    </div>
    {%endfor%}

    <div class="container py-5">
        <div class="row text-center mb-5">
            {%if hongos%}
            <div class="col-lg-7 mx-auto">
                <h1 class="">Tus últimos hongos registrados</h1>
            </div>
            {%else%}
            <div>
                <h1>Aún no has registrado ningún hongo</h1>
            </div>
            {%endif%}
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- List group-->
                <ul class="list-group shadow">
                    <!-- list group item-->
                    {%for hongo in hongos%}
                    <li class="list-group-item">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div id='texto_hongos' class=" media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2">{{hongo.nombre}}</h5>
                                <!-- <p class="font-italic text-muted mb-0 small"></p> -->
                                <h6 class="font-weight-bold my-2">{{hongo.prob}}</h6>
                            </div><img src='{{hongo.imagen.url}}' alt='{{hongo.nombre}}' width="200"
                                class="ml-lg-5 order-1 order-lg-2">
                        </div> <!-- End -->
                    </li> <!-- End -->
                    {%endfor%}
                </ul> <!-- End -->
            </div>
        </div>
    </div>

    {% endblock %}
</body>

</html>